div.canvasContainer {
    background: var(--thin-grey);
    margin: 2rem;
    height: auto;
    position: relative;
}

canvas {
    position: relative;
    z-index: 0;
    background: var(--thick-grey);
}