:root {
  --matte-black: #121212;
  --dark-grey: #181818;
  --light-grey: #404040;
  --thick-grey: #282828;
  --thin-grey: #B3B3B3;
  --button-blue: #39ACE7;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
