nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 100%;
    height: 4rem;

    background-color: var(--dark-grey);
}

div.left, div.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.left {
    display: flex;
    justify-content: space-between;

    padding-left: 1.5rem;
}

div.right {
    padding-right: 1.5rem;
}

div.open, div.new {
    position: relative;
    padding: 0.5rem;

    background-color: var(--button-blue);

    border-radius: 0.5rem;
}

div.open {
    margin-right: 0.5rem;
}

div.open:hover, div.new:hover {
    cursor: pointer;
    animation: pulsate 1.5s linear infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 
        0 0 15px var(--button-blue),
        0 0 30px var(--button-blue);
    }
    100% {
        box-shadow: none;
    }
}